# macOS system files
.DS_Store

# Swift build artifacts
.swiftpm/
.vscode/
/.build
/Packages
DerivedData/
/dist

# Xcode user data
xcuserdata/
*.xcarchive

# Exclude sensitive information
.netrc
.env
.env.*
*.provisionprofile
*.mobileprovision

# Exclude the project file
*.xcodeproj

# Exclude the entitlements file
*.entitlements
